<div class="attack">
  {{log "attack-sheet" this}}
  <section class="attack-main">
    <div class="header">
      <img src="{{item.img}}" data-edit="img" data-action='editImage' data-tooltip="{{item.name}}" />
      {{formInput fields.name value=source.name rootId=partId}}
    </div>
    <div class="details">
      <fieldset>
        <legend>{{localize "INTOTHEODD.Labels.details"}}</legend>
        {{formField systemFields.damageFormula value=system.damageFormula rootId=partId}}
        {{formField systemFields.blast value=system.blast rootId=partId}}
        <div class="attack-description">
          {{formInput
            systemFields.description
            enriched=enrichedDescription
            value=system.description
            documentUUID=item.uuid
            name="system.description"
            collaborate="false"
            toggled="true"
            height="50"
          }}
        </div>
      </fieldset>
    </div>
  </section>
</div>