<div class="standard-form character-header">
  <img class="character-img" src="{{actor.img}}" data-edit="img" data-action='editImage' data-tooltip="{{actor.name}}" />
  <div class="character-details">
    <div class="character-name">{{formInput fields.name value=source.name }}</div>
    <fieldset>
      <legend>{{localize "INTOTHEODD.Labels.details"}}</legend>
      {{formGroup systemFields.level value=system.level localize=true }}
      {{formGroup systemFields.deprived value=system.deprived dataset=data.deprived }}
      {{formGroup systemFields.critical value=system.critical dataset=data.critical }}
    </fieldset>
  </div>
</div>