<div class="standard-form character-main">
  {{!log "actor-sheet" this}}

  <div class="character-abilities">
    <fieldset>
      <legend class="rollable" data-action="rollSave" data-ability="str" data-tooltip="{{localize 'INTOTHEODD.RollStrength'}}" data-tooltip-direction="UP">{{localize
          "INTOTHEODD.Labels.long.str"
        }}</legend>
      <div class="ability">
        {{formInput systemFields.abilities.fields.str.fields.value value=system.abilities.str.value }}
        <div class="divider">/</div>
        {{formInput systemFields.abilities.fields.str.fields.max value=system.abilities.str.max }}
      </div>
    </fieldset>

    <fieldset>
      <legend class="rollable" data-action="rollSave" data-ability="dex" data-tooltip="{{localize 'INTOTHEODD.RollDexterity'}}" data-tooltip-direction="UP">{{localize
          "INTOTHEODD.Labels.long.dex"
        }}</legend>
      <div class="ability">
        {{formInput systemFields.abilities.fields.dex.fields.value value=system.abilities.dex.value }}
        <div class="divider">/</div>
        {{formInput systemFields.abilities.fields.dex.fields.max value=system.abilities.dex.max }}
      </div>
    </fieldset>

    <fieldset>
      {{#unless electricBastionland}}
        <legend class="rollable" data-action="rollSave" data-ability="wil" data-tooltip="{{localize 'INTOTHEODD.RollWillpower'}}" data-tooltip-direction="UP">{{localize
            "INTOTHEODD.Labels.long.wil"
          }}</legend>
        <div class="ability">
          {{formInput systemFields.abilities.fields.wil.fields.value value=system.abilities.wil.value }}
          <div class="divider">/</div>
          {{formInput systemFields.abilities.fields.wil.fields.max value=system.abilities.wil.max }}
        </div>
      {{else}}
        <legend class="rollable" data-action="rollSave" data-ability="cha" data-tooltip="{{localize 'INTOTHEODD.RollCharisma'}}" data-tooltip-direction="UP">{{localize
            "INTOTHEODD.Labels.long.cha"
          }}</legend>
        <div class="ability">
          {{formInput systemFields.electricBastionland.fields.cha.fields.value value=system.electricBastionland.cha.value }}
          <div class="divider">/</div>
          {{formInput systemFields.electricBastionland.fields.cha.fields.max value=system.electricBastionland.cha.max }}
        </div>
      {{/unless}}
    </fieldset>

    <fieldset>
      <legend>{{localize "INTOTHEODD.Labels.long.hp"}}</legend>
      <div class="ability">
        {{formInput systemFields.hp.fields.value value=system.hp.value }}
        <div class="divider">/</div>
        {{formInput systemFields.hp.fields.max value=system.hp.max }}
      </div>
    </fieldset>

    <fieldset>
      <legend>{{localize "INTOTHEODD.Labels.long.armour"}}</legend>
      <div class="armour">
        <label>{{system.armour}}</label>
      </div>
    </fieldset>
  </div>

  {{#if displayWealth}}
    <div class="character-wealth">
      <fieldset>
        <legend>{{localize "INTOTHEODD.Labels.long.wealth"}}</legend>
        <div class="wealth">
          {{#unless electricBastionland}}
            {{formGroup systemFields.wealth.fields.guilders value=system.wealth.guilders }}
            {{formGroup systemFields.wealth.fields.shillings value=system.wealth.shillings }}
            {{formGroup systemFields.wealth.fields.pennies value=system.wealth.pennies }}
          {{else}}
            {{formGroup systemFields.electricBastionland.fields.pounds value=system.electricBastionland.pounds }}
            {{formGroup systemFields.electricBastionland.fields.debt value=system.electricBastionland.debt }}
          {{/unless}}
        </div>
      </fieldset>
    </div>
  {{/if}}

</div>