<section class="tab actor-{{tab.id}} {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
  {{formInput
    systemFields.biography
    enriched=enrichedBiography
    value=system.biography
    documentUUID=actor.uuid
    name="system.biography"
    collaborate="true"
    toggled="true"
    height="200"
  }}
</section>